[submodule "tracker"]
	path = tracker
	url = git@github.com:trace-inesc/tracker.git
[submodule "modality"]
	path = modality
	url = git@github.com:trace-inesc/modality.git
[submodule "store-client"]
	path = store-client
	url = git@github.com:trace-inesc/store-client.git
